.gifbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 1%;
  top: 25%;
  width: 25%;
  background-color: #dfe3ee;
  padding: 20px;
  border-radius: 10px;
}
.gifbox input {
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border: 0;
  margin-bottom: 10px;
}
.gifbox input:focus {
  outline: none;
}
.displaygif {
  height: 40vh;
}
.displaygif button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.displaygif img {
  max-width: 100%;
  max-height: auto;
}
@media (max-width: 430px) {
  .gifbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 40%;
    width: 80%;
    background-color: #dfe3ee;
    padding: 20px;
    border-radius: 10px;
  }
}
